.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 10px; /* Space between grid items */
  }
  
.calendar-day {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
  
.box-panel{
  position: absolute;
  top: 5%;
  left: 30%;
  width: 50rem;
  height: 50rem;
  background-color: green;
}

.box-panel-close-button{
  position: absolute;
  margin-left: .3rem;
  margin-top: .3rem;
}

.box-panel-close-button button{
  width: 2rem;
  height: 2rem;
}

.box-panel-close-button p{
  margin: 0;
}

.box-panel-header {
  position: relative;
  width: 100%;
  align-items: center;
}

.box-panel-input{
  position: relative;
  margin-left: 5%;
  margin-top: 10%;
  text-align: left;
}

.box-panel-input input{
  width: 38rem;
  height: 1.5rem;
}

.box-panel-container-task{
  position: relative;
}

.box-panel-task{
  width: auto;
  display: flex;
  gap: 10px;
  margin-left: 5%;
}

.box-panel-task p{
  display: inherit;
  text-align: left;
  width: 35rem;
}

.box-panel-task label{
  display: inherit;
  align-items: center;  
}

